<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>TODO Manager</title>
</head>


<style type="text/css">
	header{
		background-color: green;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		padding: 10px;
		
	}
	
body {
 
 background-color: Lightyellow;
}
h1{
  font-family: "Audiowide", sans-serif;
}


</style>
	

<body>
	<h1 align="center">Welcome to TODO Manager</h1>
</body>
<div class="header"align="center">
	<a href="/">View </a> &nbsp; &nbsp; &nbsp;
	<a href="/add">Add TODOs</a> &nbsp; &nbsp; &nbsp;
	<a href="/show">Show TODOs</a> &nbsp;&nbsp; &nbsp;
	<a href="/login">Logout</a> 
</div>
</html>